*,
*,
* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --cell-size: 100px;
  --text-size: calc(var(--cell-size) * 0.9);
}
/* Variables */

body {
  margin: 0;
}

/* Game's board */
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}
/* Game's board */

/* Cells for game board */
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 60px;
  border-radius: 2px;
  box-shadow: 0 4px 2px -2px gray;
  background-color: #1f3540;
  transition: 150ms;
}
/* Cells for game board */

.cell:hover {
  background-color: #26414f;
}

/* Creation of the X */
.cell.x::after,
.cell.x::before {
  content: "";
  position: absolute;
  width: calc(var(--text-size) * 0.15);
  height: var(--text-size);
  background-color: #31c4be;
  animation: fadeIn 100ms ease-in;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}
/* Creation of the X */

/* Creation of the O */
.cell.o::before,
.cell.o::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: fadeIn 100ms ease-in;
}

.cell.o::before {
  width: var(--text-size);
  height: var(--text-size);
  background-color: #efb236;
}
.cell.o::after {
  width: calc(var(--text-size) * 0.75);
  height: calc(var(--text-size) * 0.75);
  background-color: #1f3540;
}
/* Creation of the O */

.cell.x,
.cell.o {
  cursor: default;
}

/* Where the message is displayed */
.message-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
}
/* Where the message is displayed */

/* Button that restarts the game */
.message-text #restart-game {
  padding: 12px;
  font-size: 0.7em;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  border: none;
  transition: 350ms;
  color: #fff;
}

.message-text #restart-game:hover {
  background-color: rgb(247, 78, 78);
}
/* Button that restarts the game */

/* This class is added when someones wins/draw */
.message-text.show {
  display: flex;
  flex-direction: column;
}
/* This class is added when someones wins/draw */

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animations */
