*::after,
*::before,
* {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --cell-size: 100px;
  --cell-min-size: 10px;
  --text-size: calc(var(--cell-size) * 0.9);
}
/* Variables */

body {
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(80, 164, 243);
  box-shadow: 0 4px 10px -1px rgb(0, 0, 0);
}

.header h1 {
  font-size: 5rem;
  font-weight: 400;
  font-style: italic;
}

/* Game's board */
.board {
  width: 100%;
  height: 60vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 1.2rem;
}
/* Game's board */

/* Cells for game board */
.cell {
  /* width: var(--cell-size);
  height: var(--cell-size); */
  max-width: 100px;
  max-height: 100px;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0 5px 2px -2px gray;
  background-color: #1f3540;
  transition: 150ms;
  border: none;
  
}
/* Cells for game board */

.cell:hover {
  background-color: #26414f;
}

/* Creation of the X */
.cell.x::after,
.cell.x::before {
  content: "";
  position: absolute;
  width: calc(var(--text-size) * 0.15);
  height: var(--text-size);
  background-color: rgb(80, 164, 243);
  animation: FadeInScale 100ms ease-in;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}
/* Creation of the X */

/* Creation of the O */
.cell.o::before,
.cell.o::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: FadeInScale 100ms ease-in;
}

.cell.o::before {
  width: var(--text-size);
  height: var(--text-size);
  background-color: #efb236;
}
.cell.o::after {
  width: calc(var(--text-size) * 0.75);
  height: calc(var(--text-size) * 0.75);
  background-color: #1f3540;
}
/* Creation of the O */

.cell.x,
.cell.o {
  cursor: default;
}

/* Where the message is displayed */
.message-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
}
/* Where the message is displayed */

.Winning-Message-Container {
  max-width: 450px;
  max-height: 500px;
  min-height: 350px;
  min-width: 300px;
  display: flex;
  font-size: 5rem;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: space-between;
  flex-direction: column;
  /* border: 1px solid black; */
  gap: 3rem;
  padding: 2rem;
  background-color: rgb(80, 164, 243);
  border-radius: 15px;
  animation: fadeIn 450ms ease-in-out;
  text-align: center;
}

/* Button that restarts the game */
.message-text #restart-game {
  padding: 12px;
  font-size: 3rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(63, 137, 206);
  border: none;
  transition: 350ms;
  color: #fff;
}

.message-text #restart-game:hover {
  background-color: rgb(247, 78, 78);
}
/* Button that restarts the game */

/* This class is added when someones wins/draw */
.message-text.show {
  display: flex;
  flex-direction: column;
}
/* This class is added when someones wins/draw */

/* Animations */
@keyframes FadeInScale {
  from {
    scale: 2.5;
    opacity: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animations */


@media screen and (max-width: 600px) {



}