*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(80, 164, 243);
  box-shadow: 0 4px 10px -1px rgb(0, 0, 0);
  container-type: inline-size;
}

.header h1 {
  font-size: 5cqw;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

.name-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 3cqw;
  top: 4.5cqw;
}

.name-input .player-name {
  border: none;
  text-align: center;
  position: relative;
  font-size: clamp(1.2rem, 1.5rem, 3rem);
}

.submit-names {
  background-color: rgb(80, 164, 243);
  border: none;
  padding: 0.6cqw;
  border-radius: 10px;
  font-size: 1.7cqw;
  cursor: pointer;
  position: relative;
  bottom: 3cqw;
  transition: 250ms;
  width: 10cqw;
  height: 4cqw;
}

.submit-names:hover {
  background-color: rgb(112, 194, 46);
  width: 12cqw;
  height: 3.5cqw;
}

.cell-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Game's board */
.board {
  width: 100%;
  height: 75vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
}
/* Game's board */

/* Cells for game board */
.cell {
  width: 8cqw;
  height: 8cqw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 55px;
  border-radius: 5px;
  box-shadow: 0 5px 2px -2px gray;
  background-color: #1f3540;
  transition: 150ms;
  border: none;
}
/* Cells for game board */

.cell:hover {
  background-color: #26414f;
}

/* Creation of the X */
.cell.x::after,
.cell.x::before {
  content: "";
  position: absolute;
  width: 0.8cqw;
  height: 5cqw;
  background-color: rgb(80, 164, 243);
  animation: FadeInScale 100ms ease-in;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}
/* Creation of the X */

/* Creation of the O */
.cell.o::before,
.cell.o::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: FadeInScale 100ms ease-in;
}

.cell.o::before {
  width: 5cqw;
  height: 5cqw;
  background-color: #efb236;
}
.cell.o::after {
  width: 3.6cqw;
  height: 3.6cqw;
  background-color: #1f3540;
}
/* Creation of the O */

.cell.x,
.cell.o {
  cursor: default;
}

/* Where the message is displayed */
.message-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
}
/* Where the message is displayed */

.Winning-Message-Container {
  max-width: 450px;
  max-height: 500px;
  min-height: 350px;
  min-width: 300px;
  display: flex;

  justify-content: space-evenly;
  align-items: space-between;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  background-color: #1f3540;
  border-radius: 15px;
  animation: fadeIn 450ms ease-in-out;
  text-align: center;
  container-type: inline-size;
}

.Winning-Message {
  font-size: 23cqw;
  color: #fff;
}

/* Button that restarts the game */
.message-text #restart-game {
  padding: 12px;
  font-size: 15cqw;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(80, 164, 243);
  transition: 350ms;
  color: #fff;
  border: none;
}

.message-text #restart-game:hover {
  background-color: rgb(112, 194, 46);
}
/* Button that restarts the game */

/* This class is added when someones wins/draw */
.message-text.show {
  display: flex;
  flex-direction: column;
}
/* This class is added when someones wins/draw */

/* Animations */
@keyframes FadeInScale {
  from {
    scale: 2.5;
    opacity: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animations */

@media screen and (max-width: 600px) {
  .board {
    width: 100%;
    height: 80vh;
  }

  .header h1 {
    font-size: 20cqw;
  }

  .Winning-Message-Container {
    width: 90cqw;
    height: 90cqw;
  }

  .cell.x::after,
  .cell.x::before {
    width: 2cqw;
    height: 15cqw;
  }

  .cell.o::after {
    width: 10cqw;
    height: 10cqw;
  }

  .cell.o::before {
    width: 15cqw;
    height: 15cqw;
  }

  .name-input {
    gap: 20cqw;
    justify-content: space-between;
  }
  .player-name {
    font-size: 1.2rem;
    width: 40cqw;
  }
  .submit-names {
    width: 50cqw;
    height: 20cqw;
    font-size: 10cqw;
  }

  .submit-names:hover {
    width: 50cqw;
    height: 20cqw;
    font-size: 10cqw;
  }
  .board {
    height: 120cqw;
  }
}
