*,
*,
* {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --text-size: calc(var(--cell-size) * 0.9);
}
body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 60px;
  border-radius: 2px;
  box-shadow: 0 4px 2px -2px gray;
  background-color: #1F3540;
  transition: 150ms;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.cell:hover{
  background-color: #26414f;
}

.cell.x::after,
.cell.x::before {
  content: "";
  position: absolute;
  width: calc(var(--text-size) * 0.15);
  height: var(--text-size);
  background-color: #31C4BE;
  animation: fadeIn 100ms ease-in;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: fadeIn 100ms ease-in;
}

.cell.o::before {
  width: var(--text-size);
  height: var(--text-size);
  background-color: #EFB236;
}
.cell.o::after {
  width: calc(var(--text-size) * 0.75);
  height: calc(var(--text-size) * 0.75);
  background-color: #1F3540;
}

.cell.x,
.cell.o {
  cursor: default;
}

.message-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
}

.message-text #restart-game{
    padding: 12px;
    font-size: 0.7em;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    border: none;
    transition: 350ms;
    color: #fff;
}

.message-text #restart-game:hover{
    background-color: rgb(247, 78, 78);
}

.message-text.show{
    display: flex;
    flex-direction: column;
}